@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF69B4; /* Hot Pink */
  --secondary-color: #FF1493; /* Deep Pink */
  --background-color: #FFF0F5; /* Lavender Blush */
  --text-color: #4A0E2E; /* Dark Pink */
  --accent-color: #C71585; /* Medium Violet Red */
}

/* styles/globals.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: url('/images/subtle-pattern.png');
  background-repeat: repeat;
}

.clip-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

a {
  color: inherit;
  text-decoration: none;
}
